/*Fonte do Tema*/
.ui-widget,
.ui-widget .ui-widget {
font-size: 12px !important;
}



.yui-skin-sam .yui-panel .bd {
	background: #333333;
	background-color: #E7EFF2;
	color: #CCCCCC;
}

.yui-skin-sam .yui-panel .hd {
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #466273;
}

.yui-skin-sam .yui-panel-container.shadow .underlay {
	background-color: #333333;
	bottom: -7px;
	left: 7px;
	opacity: 0.5;
	position: absolute;
	right: -7px;
	top: 7px;
}

.yui-skin-sam  .container-close{ 
	background: url(../img/dialogclose.png) no-repeat;
}

.ui-datatable{
	border-color: transparent !important;
	text-align: left;
	border: none !important;}

.ui-datatable-data{
	border-color: transparent !important;
	text-align: left;
	border: none !important;
}

.ui-datatable table {
	border-color: transparent !important;
	border: none !important;
	border-collapse: separate;
    width:100%;
    text-align: left;
}

.ui-datatable .ui-datatable-data td {
    border-right:none;
    border: none;
    text-align: left;
    padding: 2px 2px 0;
    //padding:4px 10px 4px 10px;
}
.ui-datatable th, .ui-datatable tfoot td {
   
    white-space:normal;
    padding:0;
    border-right:none;
    border: none;
    text-align: left;
}




.ui-datatable-data {
	border-color: transparent !important;
	text-align: left;
	border: none !important;}

.ui-datatable .ui-datatable-data td {
	border-color: transparent !important;
	text-align: left;
	border: none !important;
}

.ui-datatable-liner{
	border-color: transparent !important;
	text-align: left;
	border: none !important;}

body{
	background-image: url("#{request.contextPath}/img/fundo.jpg");
	background-color: #E7EFF2;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: repeat-x;
}

#pgCentralizado {
	height: 500px;
	left: 50%;
	margin: -200px 0 0 -300px;
	position: absolute;
	top: 50%;
	width: 40%;
}

.fundo .pf-panel-bd {
	background-color: transparent;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-repeat: repeat-x;
	border-color: transparent;
	border: 0;
	border-color: #;
}



a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.Fonte_11 {
	font-family: Trebuchet MS;
	font-size: 11px;
	font-weight: normal;
	color: #393939;
}

.Fonte_12_Logado {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: normal;
	color: #07335F;
}

.Fonte_13 {
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #393939;
}

.Fonte_13_Branco {
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #ECECEC;
}

.Fonte_13_verde {
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #6A8D21;
}

.Texto_cpf_login {
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #466273;
}

.formularios {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: 1;
	font-weight: 1;
	color: #56778B;
	background-color: #DBE4E9;
	border: 1px solid #CEDBE1;
}

.borda_meio {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: 1;
	font-weight: 1;
	background-color: #E6EDF0;
	border: 1px solid #B3C9D5;
}

.TEXTO_12 {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: normal;
	color: #07335F;
}

.TEXTO_11 {
	font-family: Trebuchet MS;
	font-size: 11px;
	font-weight: normal;
	color: #07335F;
}