body{
	background-image: url("../img/fundo.jpg");
	background-color: #E7EFF2;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
 	background-repeat: repeat-x;
	
}

#pgCentralizado{
	height: 480px;
	left: 50%;
	margin: -200px 0 0 -300px;
	position: absolute;
	top: 50%;
	width: 40%;
}


.fundo .pf-panel-bd{
	
	background-color: transparent;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
 	background-repeat: repeat-x;
	
	}

a:link {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

.Fonte_11 {
	font-family: Trebuchet MS;
	font-size: 11px;
	font-weight: normal;
	color: #393939;
}
.Fonte_12_Logado {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: normal;
	color: #07335F;
}
.Fonte_13 {
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #393939;
}
.Fonte_13_Branco {
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #ECECEC;
}

.Fonte_13_verde {
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #6A8D21;
}

.Texto_cpf_login {
	font-family: Trebuchet MS;
	font-size: 13px;
	font-weight: normal;
	color: #466273;
}
.formularios {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: 1;
	font-weight: 1;
	color: #56778B;
	background-color: #DBE4E9;
	border: 1px solid #CEDBE1;
}

.borda_meio {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-style: 1;
	font-weight: 1;
	background-color: #E6EDF0;
	border: 1px solid #B3C9D5;
}
.TEXTO_12 {
	font-family: Trebuchet MS;
	font-size: 12px;
	font-weight: normal;
	color: #07335F;
}
.TEXTO_11 {
	font-family: Trebuchet MS;
	font-size: 11px;
	font-weight: normal;
	color: #07335F;
}